@page "/addorder"
<h3 class="display-4 text-center">Realizar Pedido</h3>
<hr>

<div class="form-group">
    <label for="clientId">Cliente</label>
    <select class="form-control" id="clientId" name="clientId" @bind="clientId">
        @if (clients != null)
        {
            @foreach (var client in clients)
            {
                <option value="@client.Id">@client.LastName, @client.FirstName</option>
            }
        }
    </select>
</div>

<hr class="mt-4">


<div class="form-group">
    <label for="productId">Producto</label>
    <select class="form-control" id="productId" name="productId" @bind="selectedProductId">
        @if (products != null)
        {
            @foreach (var product in products)
            {
                <option value="@product.Id" data-description="@product.Description" data-price="@product.SellingPrice" data-stock="@product.Quantity">@product.CategoryName, @product.Name</option>
            }
        }
    </select>
    <h6 class="text-muted" id="selectedProdDescription">@selectedProductDescription</h6>
    <h6 class="text-muted" id="selectedProdPrice">@selectedProductPrice</h6>
    <h6 class="text-muted" id="selectedProdStock">@selectedProductStock</h6>
</div>

<div class="form-group">
    <label for="productQuantity">Cantidad</label>
    <input type="number" class="form-control" id="productQuantity" @bind="selectedProductQuantity" placeholder="Cantidad" />
</div>

<button type="button" class="btn btn-primary mt-4" @onclick="AddLine">Agregar linea de detalle</button>
<hr>

<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th>Id Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in orderLines)
        {
            <tr>
                <td>@line.ProductId</td>
                <td>@line.Quantity</td>
                <td>$@line.Price</td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary mt-4" @onclick="CreateDetailedOrder">Realizar Pedido</button>




<script>
    // Add an event listener to the select element
    document.getElementById("productId").addEventListener("change", function () {
        // Get the selected option
        var selectedOption = this.options[this.selectedIndex];

        // Get the additional data from the data-* attributes
        var description = selectedOption.getAttribute("data-description");
        var price = selectedOption.getAttribute("data-price");
        var stock = selectedOption.getAttribute("data-stock");
        // Display the data in the designated elements
        document.getElementById("selectedProdDescription").textContent = "Descripción: " + description;
        document.getElementById("selectedProdPrice").textContent = "Precio: $" + price;
        document.getElementById("selectedProdStock").textContent = "Stock: " + stock;
    });
</script>
